input:checked ~ .dot {
  transform: translateX(100%);
  --tw-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

input:not(:checked) ~ .icon {
  background-image: url('../public/sun.svg');
  background-size: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
}

input:checked ~ .icon {
  background-image: url('../public/moon.svg');
  background-size: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
}

#moon {
  background-image: url('../public/moon.svg');
  background-size: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
}
#sun {
  background-image: url('../public/sun.svg');
  background-size: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
}