@font-face {
    font-family: Raleway;
    src: url("/fonts/Raleway-VariableFont_wght.ttf");
    style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Raleway-Italic;
    src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf");
    style: normal;
    font-weight: 500;
    font-display: swap;
}

#__next {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}